html,body{
    width: 100%;
}

.userTable {
    margin: 100px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.userColumn {    
    display: flex;
    flex-direction: column;

    height: 164px;
}

.userName {    
    text-align: center;
    background-color: gray;
    border: 1px solid black;
}

.inputBar {
    background-color: aliceblue;
    height: 17px;
}

.todoList {
    flex: 1;
}

.todoList div{
    display: flex;

    border: 1px solid black;
    height: 19px;    
    padding: 0 5px;
}

.todoList div .progress{
    width: 20%;
}

.todoList div li{  
    width: 60%;
    margin: 0 auto
}

input {
    border:none;
}

.clear {
    background-color: lightgray;
    border: 1px solid black;
}